<div class="blank" style="padding-top: 75px;"></div>
<div class="resume-content">
  <div class="header">
    <div class="container">
      <div class="info">
        <img class="avatar" src="https://cdn.jsdelivr.net/gh/ShmilyXI/CDN@v1.0.9/img/background/52.jpg" alt="" />
        <p class="name">肖润杰</p>
        <p class="identity">前端工程师</p>
        <p class="synopsis">
          Profile info goes here. Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
          pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
          fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
          rhoncus ut, imperdiet.
        </p>
      </div>
    </div>
    <div class="contact">
      <div>
        <span>icon</span>
        <a href="#">james.doe@website.com</a>
      </div>
      <div>
        <span>icon</span>
        <a href="#">0123 456 7890</a>
      </div>
      <div>
        <span>icon</span>
        <a href="#">portfoliosite.com</a>
      </div>
    </div>
  </div>
  <div class="content">
    <nav class="nav">
      <ul>
        <li>经验</li>
        <li>技能</li>
        <li>作品</li>
        <li>联系我</li>
      </ul>
    </nav>
    <div class="container">
      <div class="experiences">
        <h2 class="title">工作经验</h2>
        <div class="container">
          <div class="job-meta">
            <div class="position">前端开发</div>
            <div class="time">2016.6-2017.6</div>
          </div>
          <div class="timeline"></div>
          <div class="job-details">
            <div class="job-company">谷歌</div>
            <div class="job-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Donec pede justo, fringilla vel, aliquet nec,
                vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo.
              </p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Donec pede justo ante</li>
                <li>Maecenas tempus tellus eget</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="job-meta">
            <div class="position">前端开发</div>
            <div class="time">2016.6-2017.6</div>
          </div>
          <div class="timeline"></div>
          <div class="job-details">
            <div class="job-company">谷歌</div>
            <div class="job-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Donec pede justo, fringilla vel, aliquet nec,
                vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo.
              </p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Donec pede justo ante</li>
                <li>Maecenas tempus tellus eget</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="job-meta">
            <div class="position">前端开发</div>
            <div class="time">2016.6-2017.6</div>
          </div>
          <div class="timeline"></div>
          <div class="job-details">
            <div class="job-company">谷歌</div>
            <div class="job-desc">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                quis, sem. Donec pede justo, fringilla vel, aliquet nec,
                vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo.
              </p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Donec pede justo ante</li>
                <li>Maecenas tempus tellus eget</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-skill">
        <h2 class="title">专业技能</h2>
        <h3>主要技能</h3>
        <ul class="skill-container">
          <li>
            <p>JavaScript</p>
            <div class="progress"></div>
          </li>
          <li>
            <p>Css3</p>
            <div class="progress"></div>
          </li>
          <li>
            <p>Html5</p>
            <div class="progress"></div>
          </li>
          <li>
            <p>React.js</p>
            <div class="progress"></div>
          </li>
          <li>
            <p>Vue.js</p>
            <div class="progress"></div>
          </li>
          <li>
            <p>Node.js</p>
            <div class="progress"></div>
          </li>
        </ul>
        <h3>其他技能</h3>
        <div class="outher-skill">
          <div class="content">
            <div class="left">版本控制</div>
            <div class="right">
              <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>GitLab</li>
                <li>码云</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <div class="left">后台</div>
            <div class="right">
              <ul>
                <li>Node.js</li>
                <li>Egg</li>
                <li>Koa2</li>
                <li>Mysql</li>
                <li>Redis</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <div class="left">工具库</div>
            <div class="right">
              <ul>
                <li>Webpack</li>
                <li>Bable</li>
                <li>socketIO</li>
                <li>Axios</li>
                <li>swiper</li>
                <li>loadash</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <div class="left">其他</div>
            <div class="right">
              <ul>
                <li>ECMAScript5</li>
                <li>ECMAScript6</li>
                <li>TypeScript</li>
                <li>Ajax</li>
                <li>Css2.1</li>
                <li>redux</li>
                <li>vuex</li>
                <li>umi</li>
                <li>dva</li>
                <li>Taro</li>
                <li>微信小程序</li>
                <li>Lavas</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>All Component Libraries</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="works">
        <h2 class="title">作品展示</h2>
        <div class="container">
          <ul class="content">
            <li>
              <div class="info">
                <h3 class="title">title</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
            <li>
              <div class="info ">
                <h3 class="title">titletitletitletitletitletitletitle</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsissynopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
            <li>
              <div class="info">
                <h3 class="title">title</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
            <li>
              <div class="info">
                <h3 class="title">title</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
            <li>
              <div class="info">
                <h3 class="title">title</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
            <li>
              <div class="info">
                <h3 class="title">title</h3>
                <ul class="lables">
                  <li>JavaScript</li>
                  <li>html5</li>
                  <li>css3</li>
                  <li>node</li>
                </ul>
                <p class="synopsis">
                  synopsis
                </p>
                <div class="controls">
                  <a href="#">github</a>
                  <a href="#">link</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>