<link rel="stylesheet" type="text/css" href="/css/lover.css">

<div class="blank" style="padding-top: 75px;"></div>
<div class="lover-content">
  <iframe id="iframe" src="https://webgradients.com" frameborder="0" ></iframe>
</div>