.switchWrap {
  margin: 20px 0;
  width: 100%;
  display: flex;
  margin: 50px 0;
  .switch {
    flex: 1;
    height: 80px;
    padding: 20px;
    background-image: url('/static/image/bg-53.jpg');
    background-position: 0 10%;
    background-size: cover;
    color: #fff;
    box-shadow: 0 0 150px #333 inset;
    transition: .2s;
    .label{
      color: #cecece;
    }
    .title{
      font-size: 22px;
    }
    &:nth-last-child(1) {
      background-image: url('/static/image/bg-62.jpg');
      text-align: right;
    }

    &:hover {
      box-shadow: 0 0 0 #333 inset;
      cursor: pointer;
    }
  }
}
