.label {
  width: calc(100% - 40px);
  border-radius: 3px;
  margin: 10px 0;
  background-color: #C8E6FB;
  padding: 20px;
  display: flex;
  flex-direction: row;

  .icon {
    .icon-xiayishou {
      font-size: 25px;
    }
  }

  .content {
    width: 95%;
    font-size: 18px;
    margin-left: 10px;
    line-height: 20px;
    word-wrap: break-word;
  }
}