.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon-title{
  font-size:25px;
  vertical-align:text-bottom;
  margin-right:3px;
}
.icon-nav{
  font-size:30px;
}
.icon-posts{
  font-size:16px;
  margin-right:2px;
  vertical-align: bottom;
}
