.navBarWrap {
  .navWrap {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    transition: .5s;

    .avatar {
      width: 45px;
      height: 45px;
      text-align: center;
      border: 1px solid #333;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px whitesmoke;
      margin-left: 5px;
      transition: 1s;

      img {
        width: auto;
        margin-left: -25%;
        height: 100%;
        cursor: pointer;
        transition: 1s;
      }

      &:hover {
        transform: rotate(360deg);

        img {
          transform: scale(1.5);
        }
      }
    }

    .barList {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      &>div {
        margin-right: 1em;
        cursor: pointer;
      }

      .menuList {
        margin-right: 1em;
        transform: translateX(100px) scale(0.5);
        opacity: 0;
        transition:transform,opacity 0.5s;

        li {
          margin-right: 1em;
          float: left;
          cursor: pointer;
        }
      }

      .menuListShow {
        transform: translateX(0) scale(1);
        opacity: 1;
      }

      .menuListHide {
        transform: translateX(100px) scale(0.5);
        opacity: 0;
      }
    }
  }
  .navWrapShow {
    border-bottom: 1px solid #d4d4d4;
    background: rgba(255, 255, 255, 1);
    color: #333;
  }
  .navWrapHide {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.9);
  }

  .goTop {
    position: fixed;
    right: 15px;
    bottom: 100px;
    width: 60px;
    cursor: pointer;
    transform: translateY(50vh);
    transition: 1.2s;
  }
}
