.heading {
  width: calc(100% - 25px);
  padding: 10px 0 10px 20px;
  background-color: #999;
  border-left: 5px solid #666;
  font-size: 28px;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  margin: 10px 0;
}